line 
{
  stroke-linecap: round;
}

.background 
{
  width: 100%;
  height: 100%;
  fill: black;
}

#hours 
{
  fill: white;
}

#mins 
{
  fill: white;
}

#secs 
{
  fill: white;
}

#hr 
{
  font-size: 33;
  font-family: System-Regular;
  text-length: 3;
  text-anchor: end;
  x: 100%;
  y: 98%;
  fill: white;
}

.hr_icon 
{
  x: 92%;
  y: 81%;
  width: 24;
  height: 24;
  href: "icons/stat_hr_open_24px.png" ;
  fill: white;
}

#date 
{
  font-size: 27;
  font-family: System-Regular;
  text-length: 6;
  text-anchor: start;
  x: 60%;
  y: 52%;
  fill: white;
}

#day 
{
  font-size: 27;
  font-family: System-Regular;
  text-length: 3;
  text-anchor: start;
  x: 60%;
  y: 45%;
  fill: white;
}

#batt 
{
  font-size: 27;
  font-family: System-Regular;
  text-length: 3;
  text-anchor: middle;
  x: 8%;
  y: 8%;
  fill: white;
}

.battery_icon 
{
  x: 0%;
  y: 0%;
  width: 56;
  height: 31;
  href: "icons/battery.png";  
}

#steps 
{
  font-size: 25;
  font-family: System-Regular;
  text-length: 5;
  text-anchor: end;
  x: 100%;
  y: 6%;
  fill: white;
}

.steps_icon 
{
  x: 90%;
  y: 8%;
  width: 28;
  height: 28;
  href: "icons/stat_steps_open_32px.png";
  fill: white;
}

#cals 
{
  font-size: 28;
  font-family: System-Regular;
  text-length: 4;
  text-anchor: start;
  x: 0%;
  y: 98%;
  fill: white;
}

.cals_icon 
{
  x: 0%;
  y: 78%;
  width: 32;
  height: 32;
  href: "icons/stat_cals_open_32px.png";
  fill: white;
}

#elevation 
{
  font-size: 27;
  font-family: System-Regular;
  text-length: 8;
  text-anchor: middle;
  x: 50%;
  y: 25%;
  fill: white;
}

.elevation_icon 
{
  x: 46%;
  y: 8%;
  width: 24;
  height: 24;
  href: "icons/stat_elevation_32px_p.png";
  fill: white;
}

/*
.weather_icon
{
  x: 42%;
  y: 63%;
  width: 50;
  height: 50;
  href: "icons/wi-day-sunny.png";
  fill: white;
}
*/

.weatherText {
  fill: white;
  font-size: 32;
  font-family: System-Regular;
}